
.mixin.out/audit/mixin_implementation_report.txt
.mixin.out/audit/mixin_implementation_report.txt
saves/*
backups/*
logs/*
crash-reports/*
ARCHIVES/*
defaultconfigs/*
screenshots/*
realms_persistence.json
servers.dat
usercache.json
usernamecache.json
.mixin.out/audit/mixin_implementation_report.csv
resourcepacks/*
config/jei/bookmarks.ini
config/voicechat-client.toml
config/voicechat/*
options.txt
optionsof.txt
optionsshader.txt
config/incontrol/*
config/fxcontrol/*
config/voicechat/player-volumes.properties
optionsshaders.txt
config/craftpresence.properties
etched-sounds/*
config/camera-client.toml
config/voicechat-client.toml
.replay_cache/*
replay_recordings/*
servers.dat_old
RunUpdate.bat
hs_err_pid3544.log
git-commitandpush.bat
