
.mixin.out/audit/mixin_implementation_report.txt
.mixin.out/audit/mixin_implementation_report.txt
saves/*
backups/*
logs/*
crash-reports/*
ARCHIVES/*
defaultconfigs/*
screenshots/*
realms_persistence.json
servers.dat
usercache.json
usernamecache.json